<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Leaflet Map</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<style type="text/css">
			#map {
				height: 500px;
				width: 80%;
				margin:0px auto;
			}
			h1 {
				text-align: center;
			}
			p {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Taipei YouBike</h1>
			<p>Chinwei Hsu</p>
			<p>{{ refresh_time }}</p>
		</div>
		<div class="btn" style="text-align: center">
			<a href= "http://127.0.0.1:8000/ubike"><button type="button">Refresh</button></a>
		</div>
		<div id="map" class="container"></div>
		<div>{{ mydata }}</div>
		<script type="text/javascript">

			var url = "http://data.taipei/youbike";
			var map = L.map('map').setView([25.037569, 121.545632], 14);

			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',{
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				id: 'geojedi.ooj08o8c',
				accessToken: 'pk.eyJ1IjoiZ2VvamVkaSIsImEiOiJjaWpvMDNwYnMwMHRidmFseDRhOGNrZjIwIn0.hkVHv9_Z-PpXfOLrKMlfCQ'
			}).addTo(map);

			var ubikeStation=[];
			theData = {{ station_data|safe }};

			for (var s in theData.retVal) {
				ubikeStation.push(theData.retVal[s]);
			};
			for (var i=0; i<ubikeStation.length; i++) {
				var theStation = ubikeStation[i];
				var position = [parseFloat(theStation.lat),parseFloat(theStation.lng)];
				var marker = L.marker(position).addTo(map);
				marker.bindPopup("地址："+theStation.ar+"<br>可借車輛/可還車輛："+theStation.sbi+" / "+theStation.bemp);
			};

		</script>
	</body>
</html>