/* stylesheet for ubikelinechart.html */

#map{
height: 500px;
width: 50%;
margin: 0px auto;
float: left;
}

#curve_chart{
float: left;
width: 50%;
height: 300px;
}

div h1{
text-align: center;
}

.station{
float: left;
}

.stationSet{
list-style: none;
float: left;
}