{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Youbike Data Visualization</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  		<link rel="stylesheet" href="{% static 'bootstrap-datetimepicker.min.css' %}" />
  		<link rel="stylesheet" type="text/css" href="{% static 'youbike.css' %}">
		</head>
		<body>
			<div><h1>台北市運輸地圖</h1></div>
			<div class="container">
				<div class="row">
				    <div class='col-sm-5'>
				    <span style="color:white">From</span>
				        <div class="form-group">
				            <div class='input-group date' id='datetimepicker1'>
				                <input data-format="YYYY-MM-DD" type='text' name="from_date" class="form-control" />
				                <span class="input-group-addon">
				                	<span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				    <div class='col-sm-5'>
				    <span style="color:white">To</span>
				        <div class="form-group">
				            <div class='input-group date' id='datetimepicker2'>
				                <input data-format="YYYY-MM-DD" type='text' name="to_date" class="form-control" />
				                <span class="input-group-addon">
				                	<span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				    <div class="col-sm-2">
				    	<div class="searchButton">
	                		<button id="search" type="button" class="btn btn-primary">Search</button>
				        </div>
				    </div>
				</div>
			</div>
			<div id="map" class="container"></div>
			<div id="curve_chart" class="chart"></div>
			<div id="histogram_chart" class="chart"></div>
		</body>

		<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'moment.min.js' %}"></script>
  		<script type="text/javascript" src="{% static 'bootstrap-datetimepicker.min.js' %}"></script>
  		<script type="text/javascript">

  		//讀入所有需求時間內的youbike站點資料
		var allStationData = {{ stations|safe }}; 

		//初始化頁面：當所有資源皆載入後呈現網站畫面
		$(document).ready(function(){

		//----------------------------------------------
		//時間區間選擇器：讓使用者可以選擇資料起始與結束的日期
		//---------------------------------------------- 
			//初始化日期選擇器1
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD',
				defaultDate: "{{ date_from_default }}"
			});
			//初始化日期選擇器2
			$('#datetimepicker2').datetimepicker({
				format: 'YYYY-MM-DD',
				useCurrent: false,
				defaultDate: "{{ date_to_default }}"
			});

			//使起始與結束日期欄位具有連動效果
			$('#datetimepicker1').on('dp.change', function(e){
				$('#datetimepicker2').data("DateTimePicker").minDate(e.date);
			})

			//使起始與結束日期欄位具有連動效果
			$('#datetimepicker2').on('dp.change', function(e){
				$('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
			})

			//在search button被點擊時觸發事件，將搜尋日期傳送至server端
			$("#search").click(function(){

				//取得目前datetimepicker1欄位內的值
				searchDateFrom = $("#datetimepicker1").find("input").val();

				//取得目前datetimepicker2欄位內的值
				searchDateTo = $("#datetimepicker2").find("input").val();

				//將日期參數加入url並重新導向刷新頁面
				location.href = "?from_date=" + searchDateFrom + "&to_date=" + searchDateTo;
			}) 

		//----------------------------------------------
		//Leaflet地圖：於地圖上呈現使用者所需的資訊
		//----------------------------------------------

			//產生地圖物件，並設定起始中心位置與比例尺
			var map = L.map('map').setView([25.0408578889, 121.567904444], 13);

			//使用mapbox api 輸入金鑰取得地圖底圖，並加入地圖物件中
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',{
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				id: 'geojedi.ooj08o8c',
				accessToken: 'pk.eyJ1IjoiZ2VvamVkaSIsImEiOiJjaWpvMDNwYnMwMHRidmFseDRhOGNrZjIwIn0.hkVHv9_Z-PpXfOLrKMlfCQ'
			}).addTo(map);

			
			

			//站點圖示屬性設定
			customCircleMarker = L.CircleMarker.extend({
				options: {
					id: 0,
					ar: 'address'
				}
			});

			//產生youbike站點點位圖示
			var markers = [];
			for (var s=0; s<allStationData.length; s++){
				var theMarker = new customCircleMarker(allStationData[s].position,{
					id: allStationData[s].sno,
					ar: allStationData[s].ar,
					fillOpacity: 0.5,
					color: getColor(allStationData[s].data[0][1])
				});
				theMarker.on('click', function(e){
					var theID=this.options.id;
					drawLineChart(theID);
					drawHistogram(theID);
					console.log(this.getLatLng());
				});
				markers.push(theMarker);
			};

			var stations = L.layerGroup(markers);
			stations.addTo(map);
			google.charts.load('current', {'packages':['corechart']});


			//加入地圖圖例
			var legend = L.control({position:'bottomright'});
			legend.onAdd = function (map) {
				var div = L.DomUtil.create('div','info legend');
				var grades = [0,5,10];
				var labels = [];

				for (var i = 0; i < grades.length; i++) {
					div.innerHTML +=
					'<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
					grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
				};
				return div;
			};
			legend.addTo(map);


			var info = L.control();

			info.onAdd = function (map) {
				this._div  = L.DomUtil.create('div','info');
				this.update();
				return this._div;
			};

			info.update = function(station) {
				this._div.innerHTML = '<h4>Youbike station information</h4>' +  (station ? '<b>' + station.ar +'</b><br />' +station.bemp + 'bikes / mi<sup>2</sup>':'Hover over a station');
			}

			info.addTo(map);

			function hightlightStation(e) {
				info.update(stations.options);
			}

			function resetHightlight(e) {
				info.update();
			}
		});

		//依數值決定marker呈現的顏色
		function getColor(d){
			return d>10 ? '#00FF60':
				   d>=5 ? '#E8B50C':
				   '#FF0000';
		}

		//畫折線圖
		function drawLineChart(id) {
			var theData = [['time','可借車輛','可還車位']];
			theData = theData.concat(allStationData[id-1].data);
			var data = google.visualization.arrayToDataTable(theData);
			var options = {
				title: allStationData[id-1].ar+" : "+id,
				legend: { position: 'bottom',textStyle: {color: 'gray'}},
				backgroundColor: {fill:'#171717'},
				width: '30%',
				titleTextStyle: {color: 'gray'},
				hAxis:{textStyle:{color:'gray'}},
				};
			var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
			chart.draw(data, options);
		}

		//畫直方圖
		function drawHistogram(id) {
			var theData = [['time','可借車輛','可還車輛']];
			theData = theData.concat(allStationData[id-1].data);
			var data = google.visualization.arrayToDataTable(theData);
			var options = {
				title: '使用頻率分布圖',
				legend: { position: 'none',
							textStyle:{color:'gray'}},
				backgroundColor: {fill:'#171717'},
				width: '30%',
				titleTextStyle: {color:'gray'},
			};
        	var chart = new google.visualization.Histogram(document.getElementById('histogram_chart'));
        	chart.draw(data, options);
        }

        function highlightFeature(e) {
        	var layer = e.target;
		    layer.setStyle({
		        weight: 5,
		        color: '#666',
		        dashArray: '',
		        fillOpacity: 0.7
		    });

		    if (!L.Browser.ie && !L.Browser.opera) {
		        layer.bringToFront();
		    }
		}
		</script>
	</html>