/* stylesheet for ubikelinechart.html */


html body{
background-color: black;
}

.searchbar .btn-primary{
	margin-left: 10px;
	color: gray;
    background-color: #EAEAEA;
    border-color: #EAEAEA;
}

#map{
height: 604px;
width: 70%;
margin: 0px auto;
float: left;
}

#curve_chart{
float: left;
width: 30%;
height: 300px;
}

#histogram_chart{
float: left;
width: 30%;
height: 300px;
}

div h1{
text-align: center;
color: gray;
letter-spacing: 2px;
font-family: -webkit-pictograph;
}

.station{
float: left;
}

.stationSet{
list-style: none;
float: left;
}

button{
float: left;
}

.chart{
border-top-width: 1px;
border-top: solid;
border-color: gray;
background-color: #0A0A0A;
}